<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.MobileSchool"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".EntryActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activities.MyActivity"/>
        <activity android:name=".Activities.LogInActivity"/>
        <activity android:name=".Activities.StudentActivity"/>
        <activity android:name=".Activities.TeacherActivity"/>
        <activity android:name=".Activities.TeacherRoomActivity" android:parentActivityName=".Activities.TeacherActivity">
            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = ".Activities.TeacherActivity">
            </meta-data>
        </activity>


        <service android:name=".Service.ManagerRegistrationService"/>
        <service android:name="com.parse.PushService" />


        <receiver android:name=".BroadCastReceiver.BootCompleteBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Communication.PushReceiver"/>

    </application>
</manifest>
