<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.MobileSchoolSeasonTwo"
          android:versionCode="1"
          android:versionName="0.001">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:name=".Utils.GlobalApplication" android:theme="@style/Theme.Openschool2">
        <activity android:name=".Activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SchoolActivity" />
        <activity android:name=".Activities.LogInActivity" />
        <activity android:name=".Activities.RegistrationActivity"/>
        <activity android:name=".Activities.EntryActivity" android:taskAffinity="com.android.phone"/>
        <activity android:name=".Activities.EvaluationActivity"/>
        <activity android:name=".Activities.ThankyouActivity"/>

        <service android:name=".BroadCastReceiver.ManagerRegistrationService"/>
        <service android:name="com.parse.PushService" />

        <receiver android:name=".BroadCastReceiver.BootCompleteBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BroadCastReceiver.NotificationClickBroadcastReceiver"/>
        <receiver android:name=".BroadCastReceiver.TelephonyBroadcastReceiver"/>
        <receiver android:name=".Communication.PushReceiver"/>

    </application>
</manifest>
